<article class="grid-2 p-2 border">
  <header class="grid-el-w-full text-center">
    Froala Model
  </header>
  <div [froalaEditor] [(froalaModel)]="froalaModel"></div>
  <div [froalaView]="froalaModel"></div>
</article>
<article class="grid-2 p-2 border margin-top-2">
  <header class="grid-el-w-full text-center">
    Ng Model
  </header>
  <div [froalaEditor] [(ngModel)]="ngModel"></div>
  <div [froalaView]="ngModel"></div>
</article>