.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.grid-el-w-full {
  grid-column: 1 / -1;
}

.text-center {
  text-align: center;
}

.margin-top-2 {
  margin-top: 2rem;
}

.p-2 {
  padding: 2rem;
}

.border {
  border: #393939 solid 1px;
  border-radius: 5px;
}
